<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>NUTRICALC</title>
	<!-- Metadatos -->
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" th:href="@{css/styleHome.css}">
</head>

<body>

	<!--	<div class="flex-container-fondo">-->
	<div class="var">
		<div class="var1">
			<img th:src="@{/images/saludable.png}" class="imgLogo" width="auto" height="100%">
		</div>
		<div class="var2">
			<img th:src="@{/images/NutriCalc.png}" class="imgLogo" width="auto" height="100%">
		</div>
	</div>
	<div class="flex-container">
		<div class="cont1">
			<div class="cont11">
				<div class="tituloDatos titulosColor">
					DATOS
				</div>
				<div class="datos">
					datos
				</div>
			</div>
			<div class="cont12">
				<div class="tituloDatos titulosColor">
					CALCULO
				</div>
				<div class="calculo">
					calculo
				</div>
			</div>
			<div class="cont13">
				<div class="tituloDatos titulosColor">
					MACRONUTRIMENTOS
				</div>
				<div class="macronutrimentos">
					macronutrimentos
				</div>
			</div>
		</div>
		<!--  ETIQUETAS IMC, ETC, ...	-->
		<div class="cont2">
			<div class="cont21">
				<div class="cont211">
					<div class="tituloDatos titulosColor">
						IMC
					</div>
					<div class="etiqutas">
						IMC
					</div>
				</div>
				<div class="cont212">
					<div class="tituloDatos titulosColor">
						CATEGORIA
					</div>
					<div class="etiqutas">
						CATEGORIA
					</div>
				</div>
				<div class="cont213">
					<div class="tituloDatos titulosColor">
						ENERGIA
					</div>
					<div class="etiqutas">
						ENERGIA
					</div>
				</div>
				<div class="cont214">
					<div class="tituloDatos titulosColor">
						PROTEINA
					</div>
					<div class="etiqutas">
						PROTEINA
					</div>
				</div>
				<div class="cont215">
					<div class="tituloDatos titulosColor">
						LIPIDOS
					</div>
					<div class="etiqutas">
						LIPIDOS
					</div>
				</div>
				<div class="cont216">
					<div class="tituloDatos titulosColor">
						H COS
					</div>
					<div class="etiqutas">
						H COS
					</div>
				</div>
			</div>
			<!--*************-->

			<!--	CUADRO DIETO SINTETICO-->
			<div class="cont22">
				<div class="cont221">
					<div class="tituloCuadro titulosColor">
						CUADRO DIETO SINTETICO
					</div>
					<div class="contCuadro">
						CUADRO DIETO SINTETICO
					</div>
				</div>
			</div>
			<!--*************-->
		</div>
	</div>
	<div class="foot">

	</div>
</body>

</html>