<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>NUTRICALC</title>
	<!-- Metadatos -->
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" th:href="@{css/styleHome.css}">
</head>

<body>

<!--	<div class="flex-container-fondo">-->
		<div class="flex-container">
			<div class="cont1">
				<div class="cont11"> 1.1 </div>
				<div class="cont12"> 1.2 </div>
				<div class="cont13"> 1.3 </div>
			</div>
			<div class="cont2">
				<div class="cont21">
					<div class="cont211">2.1.1</div>
					<div class="cont212">2.1.2</div>
					<div class="cont213">2.1.3</div>
					<div class="cont214">2.1.4</div>
					<div class="cont215">2.1.5</div>
					<div class="cont216">2.1.6</div>
				</div>


				<div class="cont22">2.2</div>
			</div>
		</div>
<!--	</div>-->
</body>

</html>